@media(max-width:1000px){
    .phones-card{
        width: 90%;
        display: block;
    }
    .phones{
        height: 330vh;
        width: ;
    }
    .container{
        width: 90%;
    }
    .advantages-card{
        width: 80%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
    .materials-card{
        display: block;
        width: 90%;
        margin-bottom: 10px;
    }
    .security-bg{
        position: static;
        width: 100%;
        background-size: 100%;
        
    }
    .security-content{
        width: 100%;
    }
    .iphone-content{
        width: 90%;
        position: static;
        transform: none;
        margin-top: 150px;
    }
    .footer-card{
        display: block;
        width: 100%;
    }
    .header{
        height: 150vh;
        background-attachment: scroll;
    }
    .differences-content{
        position: static;
        width:100%;
        text-align: left;
    }
    .materials{
        background-attachment: scroll;
    }
    .phones-img:hover{
        transform: none;
    }
    .iphone{
        background-size: 110%;
    }
}
